body {
    font-family: Arial, sans-serif;
    background-color: #ebf0ec;
    background-image: url('veros_logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex; /* Torna o body um flex container */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    min-height: 100vh; /* Garante que o corpo ocupe toda a altura da tela */
}

.container {
    max-width: 800px; /* Aumentei o tamanho máximo do contêiner */
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



h1 {
    text-align: center;
    color: #8f7ccf; /* Cor do texto dos rótulos */
}

form {
    margin-top: 250px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px; /* Aumentei o preenchimento */
    font-size: 18px; /* Aumentei o tamanho da fonte */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0px;
}



button {
    background-color: #8f7ccf;
    border: 2px solid #fff; /* Adiciona uma borda sólida branca com 2 pixels de largura */
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    border-radius: 5px; /* Define o raio de curvatura das bordas */
}

button:hover {
    background-color: #161444;
    border-color: #161444; /* Altera a cor da borda quando o botão é hover */
}

#descricao {
    width: 60vw; /* Definir a largura para 100% da largura da viewport */
}

* {
    box-sizing: border-box; /* Faz com que o preenchimento e a borda sejam incluídos na largura e altura total */
}

#descricao {
    width: 50vw; /* Definir a largura para 100% da largura da viewport */
}

.checkbox-group {
    display: flex;
}

.checkbox-group label {
    margin-right: 15px; /* Espaçamento entre os labels */
}

.checkbox-group input[type="checkbox"] {
    margin-right: 20px; /* Espaçamento entre os checkboxes */
}

/* Estilos para a marca d'água */
.watermark {
    position: fixed;
    bottom: 10px; /* Distância em relação ao rodapé */
    left: 50%; /* Posiciona a marca d'água no centro horizontal */
    transform: translateX(-50%); /* Centraliza a marca d'água horizontalmente */
    font-size: 15px;
    color: #8f7ccf; /* Cor da marca d'água (preto com transparência) */
    z-index: -1; /* Coloca a marca d'água atrás do conteúdo */
}

/* Exemplo de media query */
@media only screen and (max-width: 600px) {
    /* Estilos para telas menores que 600px */
    body {
        font-size: 14px;
    }
}

/* Estilo para imagens responsivas */
img {
    max-width: 100%;
    height: auto;
}

.description-group {
    margin-bottom: 10px;
}
